<!DOCTYPE html>
<html>
	<head>
		<title>prodlist</title>
		<link rel="stylesheet" href="./assets/css/bootstrap.min.css">
		<link rel="stylesheet" href="./assets/css/bootstrap-theme.css">

		
	</head>
	<body bgcolor="yellow">
		<h2>welcome to Productlist</h2>
		<div class="main">

				<!-- Sing in  Form -->
				<section class="sign-in">
					<div class="container">
						<div class="signin-content">

								<a href="">Create an
									account</a>
							</div>

							<div class="signin-form">
								<h2 class="form-title">Sign up</h2>
								<form method="" action="" class="register-form"
									id="login-form">
									<div class="form-group">
										<label for="username"><i
											class="zmdi zmdi-account material-icons-name"></i></label> <input
											type="text" name="username" id="username"
											placeholder="Your Name" />
									</div>
									<div class="form-group">
										<label for="password"><i class="zmdi zmdi-lock"></i></label> <input
											type="password" name="password" id="password"
											placeholder="Password" />
									</div>
									<div class="form-group">
										<input type="checkbox" name="remember-me" id="remember-me"
											class="agree-term" /> <label for="remember-me"
											class="label-agree-term"><span><span></span></span>Remember
											me</label>
									</div>
									<div class="form-group form-button">
										<input type="submit" name="signin" id="signin"
											class="btn btn-success" value="Log in" />
											<input type="submit" name="signin" id="signin"
												class="btn btn-warning" value="sign up" />
									</div>
								
								</form>
								
							</div>
						</div>
					</div>
				</section>

			</div>
	</body>
</html>